@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  background: #1d1919;
  color: #fff;
}


.slider {
  width: 80vw;
  height: 80vh;
  background: rgb(27, 33, 41);
  border-radius: 10px;
}
.slider__images-container {
}
.slider__images {
}
.slider__image {

}
.slider__bottom {
}
.slider__info-container {
}
.slider__info {
}
.slider__info-text {
}
.slider__controls {
}
.slider__controls-label {
}